{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
	<div id="search_bar" class="mt10">
		<div class="box">
			<div class="box_border">
					<div class="box_top">
						<div class="box_top_l fl">
							<b class="pl15">{% if table.options.comment is defined %}{{ table.options.comment }}{% else %}{{ entity_pluralized|capitalize }}{% endif %}列表</b>
						</div>
						<div class="box_top_r fr pr15">
							<a href="{{ '{{ path(\'' ~ route_name_prefix ~'_new\') }}' }}" class="color307fb1 button bg-blue">新增</a>
						</div>
					</div>
				</div>
		</div>
	</div>
				
        {{'{% if pagination is defined and pagination is not empty %}' }}
    <div id="table" class="mt10">
		<div class="box span10 oh">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
    			<tr>{%- for field, metadata in fields %}
    					{% if metadata.options.comment is defined %}
    						<th>{{ metadata.options.comment }}</th>
    					{% else %}
    						<th>{{ field|capitalize }}</th>
    					{% endif %}
                    {%- endfor %}
    				<th width="200">操作</th>
    			</tr>
            {{ '{% for item in pagination %}' }}
    			<tr id="item_{{ '{{ item.id }}' }}" class="tr">
    				
    				{% for field, metadata in fields %}
    					<td>{%- if metadata.type in ['datetime'] -%}
    						{{ '{{ item.' ~ field ~ '|date(\'Y-m-d H:i:s\') }}' }}
    					{%- else -%}
    					{{ '{{ item.' ~ field ~ ' }}' }}
    					{%- endif %}</td>
    				{% endfor -%}
    				<td>
    					<a class="button border-yellow button-little" href="{{ '{{ path(\'' ~ route_name_prefix ~'_edit\', { \'id\': item.id }) }}' }}">编辑</a>
    				    <a class="button border-green button-little" href="{{ '{{ path(\'' ~ route_name_prefix ~'_show\', { \'id\': item.id }) }}' }}">查看</a>
    				    <a class="button border-red button-little" href="#" onclick="{
    					if(confirm('确认删除?')){return delItem({{ '{{ item.id }}' }});}returnfalse;}">删除</a>
    				    </td>
    			</tr>
    			{{ '{% endfor %}' }}
    		</table>
    			{{ '{{ knp_pagination_render(pagination,\'pagination.html.twig\') }}' }}
    	    {{ '{% endif %}' }}
    	</div>
    </div>
{{ "{% endblock %}" }}
{{ '{% block js %}' }}
<script>
   function delItem(id){
	   $.post("{{ '{{ path(\'' ~ route_name_prefix ~ '_delete\') }}' }}", { id: id },
			   function(data){
			     if(data.code == 1){
				     $('#item_'+id).hide();
				     	layer.msg(data.msg);
				     }else{
				    	 layer.msg(data.msg);}
			   }, "json");
	}
</script>
{{ '{% endblock %}' }}
{% endblock body %}
