{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    	<div class="infolist">
    		<div class="panel-head">
    			<ul class="zsgc fleft">
                  <li><a href="{{ '{{ path(\'' ~ route_name_prefix ~'_new\') }}' }}">新增</a></li>
                </ul>
    			<h3>{% if table.options.comment is defined %}{{ table.options.comment }}{% else %}{{ entity_pluralized|capitalize }}{% endif %}列表</h3>
    		</div>
        {{'{% if pagination is defined and pagination is not empty %}' }}
    		<table width="100%" border="0" cellpadding="0" cellspacing="0">
    			<tr class="title">{%- for field, metadata in fields %}
    					{% if metadata.options.comment is defined %}
    						<td>{{ metadata.options.comment }}</td>
    					{% else %}
    						<td>{{ field|capitalize }}</td>
    					{% endif %}
                    {%- endfor %}
    				<td width="200">操作</td>
    			</tr>
            {{ '{% for item in pagination %}' }}
    			<tr id="item_{{ '{{ item.id }}' }}"  class="line_g hover_bg">
    				
    				{% for field, metadata in fields %}
    					<td align="center">{%- if metadata.type in ['datetime'] -%}
    						{{ '{{ item.' ~ field ~ '|date(\'Y-m-d H:i:s\') }}' }}
    					{%- else -%}
    					{{ '{{ item.' ~ field ~ ' }}' }}
    					{%- endif %}</td>
    				{% endfor -%}
    				<td>
    					<ul class="zsgc fleft">
    						<li>
    							<a class="button border-yellow button-little" href="{{ '{{ path(\'' ~ route_name_prefix ~'_edit\', { \'id\': item.id }) }}' }}">编辑</a>
    						</li>
    						<li>
        				    	<a class="button border-green button-little" href="{{ '{{ path(\'' ~ route_name_prefix ~'_show\', { \'id\': item.id }) }}' }}">查看</a>
        				    </li>
        				   <li>
        				    <a class="button border-red button-little" href="#" onclick="{
        					if(confirm('确认删除?')){return delItem({{ '{{ item.id }}' }});}returnfalse;}">删除</a>
        					</li>
    					</ul>
    				</td>
    			</tr>
    			{{ '{% endfor %}' }}
    		</table>
    			{{ '{{ knp_pagination_render(pagination,\'pagination.html.twig\') }}' }}
    	    {{ '{% endif %}' }}
    	</div>
{{ "{% endblock %}" }}
{{ '{% block js %}' }}
<script>
   function delItem(id){
	   $.post("{{ '{{ path(\'' ~ route_name_prefix ~ '_delete\') }}' }}", { id: id },
			   function(data){
			     if(data.code == 1){
				     $('#item_'+id).hide();
				     	layer.msg(data.msg);
				     }else{
				    	 layer.msg(data.msg);}
			   }, "json");
	}
</script>
{{ '{% endblock %}' }}
{% endblock body %}
