{% block extends %}
    {{ "{% extends 'layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block css %}" }}
    <link rel="stylesheet" href="{{ '{{ asset(\'css/research.css?v=1024\'|theme) }}' }}">
    <link rel="stylesheet" href="{{ '{{ asset(\'css/popup_page.css?v=1024\'|theme) }}' }}">
{{ "{% endblock %}" }}
{{ "{% block body %}" }}
	<div class="notice_add">
        {{ '{{ form_errors_tips(errors)|raw }}' }}
        {{  "{{ form(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-x', 'id': 'form'}}) }}" }}
    </div>
{{ "{% endblock %}" }}
{{ "{% block js %}" }}
{{ "{% endblock %}" }}
{% endblock body %}
