{% block extends %}
    {{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block css %}" }}
    <link rel="stylesheet" type="text/css" href="{{ '{{ asset(\'css/d_m_send_out_document.css?v=1024\'|theme) }}' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '{{ asset(\'css/table_document.css?v=1024\'|theme) }}' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '{{ asset(\'css/assets_collar_list.css?v=1024\'|theme) }}' }}"/>
    <link rel="stylesheet" type="text/css" href="{{ '{{ asset(\'css/conferent_new.css?v=1024\'|theme) }}' }}" />
    {{ "{% endblock %}" }}
    {{ "{% block body %}" }}

    <div class="content">
        <div class="title_box">
            <div class="title margin-none">编辑{{ table.options.comment }}</div>
        </div>

        {{ '{{ form_errors_tips(errors)|raw }}' }}
        {{  "{{ form_start(form) }}" }}
        <div class="table_box">
            <table class="table table-bordered table-bg-none table_edit table_edit_new">
                <colgroup width="10%"></colgroup>
                <colgroup width="13.3%"></colgroup>
                <colgroup width="10%"></colgroup>
                <colgroup width="16.6%"></colgroup>

                {% set _nowTd = 0 -%}
                {% for field, metadata in fields -%}
                    {% if field not in ['createAt', 'updateAt'] %}
                        {% if privateFieldArr is not empty and field not in privateFieldArr -%}
                            {% set _nowTd = _nowTd + 1 -%}
                            {% if _nowTd == 1 -%}
                                <tr>
                            {% endif -%}

                            {% if metadata.type in ['text'] -%}

                                {%- if _nowTd == 2 -%}
                                    </tr>
                                    <tr>
                                {%- endif -%}
                                <td class="bg-hui">{{ '{{ form_label(form.' ~ field ~ ') }}' }}</td>
                                <td colspan="3" class="text-left">{{ '{{ form_widget(form.' ~ field ~ ') }}' }}</td>
                                {%- set _nowTd = 2 -%}

                            {% else -%}
                                <td class="bg-hui">{{ '{{ form_label(form.' ~ field ~ ') }}' }}</td>
                                <td class="text-left">{{ '{{ form_widget(form.' ~ field ~ ') }}' }}</td>

                            {%- endif %}

                            {% if _nowTd >= 2 -%}
                                {% set _nowTd = 0 -%}
                                </tr>
                            {%- endif %}
                        {%- endif -%}
                    {% endif %}
                {%- endfor -%}

                {%- if _nowTd == 1 %}
                    </tr>
                {% endif %}
            </table>
            {{ "{{ form_widget(form.submit,{'attr':{'class':'add_text add_text_top','style':'padding:0px'}}) }}" }}
            <input type="reset" class="add_text margin-big-top bg-none text_blue" style="margin-top: 30px" value="重置" />
        </div>
        {{ "{{ form_end(form) }}" }}
    </div>
    {{ "{% endblock %}" }}
{% endblock body %}
