{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{{ "{% block css %}" }}
<link rel="stylesheet" type="text/css" href="{{ "{{ asset('css/d_m_send_out_document.css?v=1024'|theme) }}" }}"/>
<link rel="stylesheet" type="text/css" href="{{ "{{ asset('css/assets_collar_list.css'|theme) }}" }}"/>
<link rel="stylesheet" type="text/css" href="{{ "{{ asset('css/manuscript_base.css'|theme) }}" }}">
{{ "{% endblock %}" }}

{% block body %}
{{ "{% block body %}" }}
<div class="content">
    <!--内容-->
    <div class="title_box">
        <div class="title margin-none">列表</div>
        <span class="title_all border-none text_blue btn_back">
            <a href="{{ '{{ path(\''~route_name_prefix ~'_new\') }}' }}">
                <b>+</b>
                <span>新增</span>
            </a>
        </span>
    </div>

    <div class="column">
        <label for="">
            <a href="javascript:void(0);" onclick="btn_print('parint')">
                <img src="{{ '{{' }} asset('images/printing.png'|theme) {{ '}}' }}"/>
                <span class="whole">打印</span>
            </a>
        </label>
        <form action="" class="fr">
            <div class="search_box btn_box ">
                <input type="submit" class="btn fl active" value="搜索">
                <input type="reset" class="btn fr" value="重置">
            </div>
                {% for field, metadata in fields -%}
                    {%- if loop.index > 1 and loop.index <= 3 -%}
                    <div class="search_box">
                        {% if metadata.options.comment is defined -%}
                            <input name="{{ field }}" type="text" class="search" placeholder="请输入{{ metadata.options.comment }}" value="{{ '{{' }} app.request.query.get('{{ field }}') {{ '}}' }}">
                        {% else -%}
                            <input name="{{ field }}" type="text" class="search" placeholder="请输入{{ field|capitalize }}" value="{{ '{{' }} app.request.query.get('{{ field }}') {{ '}}' }}">
                        {% endif %}
                    </div>
                    {%- endif %}
                {%- endfor %}
        </form>
        <br>
    </div>

    <table class="table interlacing parint">
        <tr class="bg_title">
            {% for field, metadata in fields -%}
                <th>
                    {%- if metadata.options.comment is defined -%}
                        {{ metadata.options.comment }}
                    {%- else -%}
                        {{ field|capitalize }}
                    {%- endif -%}
                </th>
            {% endfor -%}
            <th width="260" class="text-center print-hidden">操作</th>
        </tr>
        {{'{% if pagination is defined and pagination is not empty %}' }}
            {{ '{% for item in pagination %}' }}
            {% set isSetTitle = false -%}
            <tr id="item_{{ '{{ item.id }}' }}">
                {% for field, metadata in fields -%}
                    <td>
                        {%- if metadata.type in ['datetime'] -%}
                            {{ '{{ item.' ~ field ~ '|date(\'Y-m-d H:i:s\') }}' }}
                        {%- elseif metadata.type in ['string', 'text'] -%}
                            {{ '{{ item.' ~ field ~ '|truncate(20,false,\'...\') }}' }}
                        {%- else -%}
                            {{- '{{ item.' ~ field ~ ' }}' -}}
                        {%- endif -%}
                    </td>
                {% endfor -%}

                <td class="print-hidden">
                    <a href="{{ '{{ path(\'' ~ route_name_prefix ~'_show\', { \'id\': item.id }) }}' }}" class="btn_cl">查看</a>
                    <a href="{{ '{{ path(\'' ~ route_name_prefix ~'_edit\', { \'id\': item.id }) }}' }}" class="btn_cl">编辑</a>
                    <a href="javascript:;" onclick="del({{ '{{' }} item.id {{ '}}' }})" class="btn_cl">删除</a>
                </td>
            </tr>
            {{ '{% endfor %}' }}
        {{ '{% else %}' }}
            {% set num = (fields|length) -%}
            {{ '{{ macro_no_content('~ (num+1) ~') }}' }}
        {{ '{% endif %}' }}
    </table>
    <!--分页-->
    {{ '{{' }} knp_pagination_render(pagination,'pagination.html.twig') {{ '}}' }}

</div>
{{ "{% endblock %}" }}
{{ '{% block js %}' }}

<script src="{{ '{{' }} asset('js/all_select.js'|theme) {{ '}}' }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ '{{' }} asset('js/jquery.jqprint-0.3.js'|theme) {{ '}}' }}"></script>
<script src="{{ '{{' }} asset('js/print_extend.js'|theme) {{ '}}' }}"></script>
<script>
    function del(data) {
        $.post("{{ '{{ path(\'' ~ route_name_prefix ~ '_delete\') }}' }}", {id: data}, function (result) {
            $(".item" + data).remove();
            layer.msg('已删除', {icon: 1,time: 2000}, function () {
                window.location.reload()
            });
        });
    }
</script>
{{ '{% endblock %}' }}
{% endblock body %}
