{% block extends %}
    {{ "{% extends 'layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block css %}" }}
<link rel="stylesheet" href="{{ '{{' }} asset('css/inform_table.css?v=1024'|theme) {{ '}}' }}">
<link rel="stylesheet" href="{{ '{{' }} asset('css/popup_page.css?v=1024'|theme) {{ '}}' }}">
{{ "{% endblock %}" }}
{{ "{% block body %}" }}
    <div class="informCon">
        <table class="table informTable">
            {% set _nowTd = 0 -%}
            {% for field, metadata in fields -%}
                {%- set _nowTd = _nowTd + 1 -%}
                {%- if _nowTd == 1 -%}
                <tr>
                {%- endif %}

                <td class="td_head">{% if metadata.options.comment is defined %}{{ metadata.options.comment }}{% else %}{{ field|capitalize }}{% endif %}</td>

                {% if metadata.type in ['text'] -%}
                    {% if _nowTd == 2 %}</tr><tr>{% endif -%}

                    <td colspan="3">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
                    {%- set _nowTd = 2 -%}

                {% elseif metadata.type in ['datetime'] -%}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {% elseif metadata.type in ['date'] -%}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                {% elseif metadata.type in ['time'] -%}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                {% elseif metadata.type in ['array'] -%}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                {% elseif metadata.type in ['boolean'] -%}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                {% else -%}

                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {% endif -%}

                {% if _nowTd == 2 -%}
                </tr>
                {% endif -%}

                {%- if _nowTd >= 2 %}
                    {%- set _nowTd = 0 -%}
                {%- endif %}
            {% endfor %}

            {% if _nowTd == 1 -%}
                </tr>
            {% endif %}
        </table>
    </div>
{{ "{% endblock %}" }}
{% endblock body %}
