{% block extends %}
    {{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block css %}" }}
    <link rel="stylesheet" type="text/css" href="{{ '{{' }} asset('css/d_m_send_out_document.css'|theme) {{ '}}' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '{{' }} asset('css/table_document.css'|theme) {{ '}}' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '{{' }} asset('css/assets_collar_list.css'|theme) {{ '}}' }}"/>
    <link rel="stylesheet" type="text/css" href="{{ '{{' }} asset('css/conferent_new.css'|theme) {{ '}}' }}" />
{{ "{% endblock %}" }}
{{ "{% block body %}" }}

<div class="content">
    <div class="title_box">
        <div class="title margin-none">详情</div>
    </div>

    <div class="table_box">
        <table class="table table-bordered table-bg-none table_edit">
            <colgroup width="10%"></colgroup>
            <colgroup width="13.3%"></colgroup>
            <colgroup width="10%"></colgroup>
            <colgroup width="16.6%"></colgroup>


            {% set _nowTd = 0 -%}
            {% for field, metadata in fields if field|lower != 'id' -%}
                {%- set _nowTd = _nowTd + 1 -%}
                {%- if _nowTd == 1 -%}
                <tr>
                {%- endif %}

                {% if metadata.type in ['text'] -%}
                    {%- if _nowTd == 2 -%}</tr><tr>{% endif -%}
                    {%- set _nowTd = 2 -%}
                {% endif %}

                <td class="bg-hui">{% if metadata.options.comment is defined %}{{ metadata.options.comment }}{% else %}{{ field|capitalize }}{% endif %}</td>

                {% if metadata.type in ['text'] -%}

                    <td class="text-left" colspan="3">{{ '{{ config_form_showValue(' ~ entity_singularized ~ ', \'' ~ field|replace({'_': ''}) ~ '\') }}' }}</td>

                {% else -%}

                    <td class="text-left">{{ '{{ config_form_showValue(' ~ entity_singularized ~ ', \'' ~ field|replace({'_': ''}) ~ '\') }}' }}</td>

                {% endif -%}

                {% if _nowTd == 2 -%}
                </tr>
                {% endif -%}

                {%- if _nowTd >= 2 %}
                    {%- set _nowTd = 0 -%}
                {%- endif %}
            {% endfor %}

            {% if _nowTd == 1 -%}
                </tr>
            {% endif %}
        </table>
    </div>
</div>

{{ "{% endblock %}" }}
{% endblock body %}
